.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.fade-in-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}


.fade-in-title {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.5s;
  color:white;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2.5s;
  color:white;
  margin-left: 2em;
  margin-right: 2em;
  margin-top:0.5em;
}

.fade-in-contact {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  animation-delay: 3.25s;
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color:white;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

img {
  max-width: 250px;
  height: auto;
  margin-bottom: 1em;
}
