* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #3d3d3d, #2B3137);
  margin:0;
  font-family: 'Char', system-ui, "Segoe UI", Roboto, sans-serif;
}

@font-face {
  font-family: 'Char';
  src: url('/fonts/atkinson-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Char';
  src: url('/fonts/atkinson-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Char', sans-serif;
}

