---
import '../styles/introDivergence.css'
import '../styles/DivergenceMeter.css'
import Header from '../components/Header.astro'
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'
---
<Layout pageTitle="Divergence Meter Build">
<div id="video-container">
  <div id="black-overlay"></div>
  <video id="bg-video" autoplay muted loop>
    <source src="/media/scroll.mp4" type="video/mp4" />
    Tu navegador no soporta video HTML5.
  </video>
</div>


<div class="main-card-container hidden">
  
  <div class="card main-card">
    <img src="/media/dates/9-8-25.png" alt="" />
    <div class="description">PCBs and components received</div>
    <div class="card-details">
      <p>I started soldering the parts onto the main board, and I have attached some images of the process. Clearly, there are still several parts missing from this board, but there are very few (not counting the 1364 HVPS-H, which I have not yet received, and the owner has not given me an approximate date for delivery), and I also need to solder the second board. I will probably start soldering tomorrow, which will be the most difficult part in comparison because the pins on the HV5622PG-G are quite close together and I have seen cases where a tin bridge can form (one pin connects to another pin on the chip itself).<br><br> I also had time to import the .HEX code to the PIC16F628A with the Pickit 3, with some problems along the way, either due to the programme it uses, the pins or the Pickit itself, but once solved, it is simply a matter of importing the file to the programme and then to the PIC. I have attached several images of the process.</p>
      <img src="/media/ImagesDiv/4.jpg" alt="" />
      <img src="/media/ImagesDiv/5.png" alt="" />
    </div>
  </div>
</div>

<div class="cards-container hidden">

    <div class="card small-card">
    <img src="/media/dates/4-8-25.png" alt="" />
    <div class="description">PCBs and components received</div>
    <div class="card-details">
      <p>Today I have already received the package with the PCBs and the components from Mouser, so the only thing missing is the 1364 - HVPS (which, according to what I have asked, the assembly may take some time while the shipment is done in 2-3 days). <br><br> On the other hand I would like to mention that for the payment of the PCBs I had to pay the sad amount of 33€ extra for the customs tax... which is still less than the price if you buy it through the official project page so I guess it's ok. In the next few days I will attach some pictures of the PCBs as I only had a quick look at them as I want to open everything once I have received everything I need to solder the parts to the PCBs, probably tomorrow and if not, in the next few days.</p>
      <img src="/media/ImagesDiv/3.jpg" alt="" />
    </div>
  </div>

  <div class="card small-card">
    <img src="/media/dates/31-7-25.png" alt="" />
    <div class="description">PCBs and other component...</div>
    <div class="card-details">
      <p>After checking the page that I mentioned yesterday, I decided to try buying there the 2 PCBs, in total the price was around 45€ (with shipping included), after trying to watch if there would be any possibility to get any fabricator in Spain (I guess they exist but I couldn't find any that would be worth). I guess I will check if it was worth buying there or it would be better just buying on the link of the official Project. <br><br><p>I also remembered the component I mentioned yesterday (1364 - HVPS-H), I forgot to buy it, as this is not purchased at Mouser (;-;). Now with all the orders placed (minus the nixies tubes that will be an adventure to find good ones in terms of price...) it would only remain to wait for everything to arrive and check it out. I guess this could take at most 1 week, since the PCBs take between 4-5 days to be manufactured plus shipping, the same with the Mouser components, while the 1364-HVPS, if you live outside US as in my case, a week minimum... </p>
      <img src="/media/ImagesDiv/2.png" alt="" />
    </div>
  </div>


  <div class="card small-card">
    <img src="/media/dates/30-7-25.png" alt="" />
    <div class="description">Components planification and more</div>
    <div class="card-details">
      <p>I've created a <a class="links" href="https://drive.proton.me/urls/RG8CAK8HNW#9eYjQYaqVEix">list</a> based on the original one with all the necessary electronic components. One of them, the 1364 - HVPS Horizontal, needs to be ordered from the US (the shipping cost is $22, rip. But I guess it's worth it). <br><br><p>As for the PCBs, the price can vary a lot depending on the supplier, shipping, and your location. I'm currently considering ordering them from <a class="links" href="https://jlcpcb.com/">JLCPCB</a>, which seems like a very good option. They require a minimum of 5 boards per design (there are two designs for this project), but the upside is that the total cost, including taxes and shipping, is around 50 €, half of what it would cost to order from the project's original site. <br><br> I ordered the components with the financial help of a friend who is also eager to see this project become a reality, for which I'm very grateful. Most of the parts were ordered through <a class="links" href="https://eu.mouser.com/">Mouser.com</a>, a site recommended by the original project creators. In my case, they offer free shipping from Europe, and the total cost was between 70€ and 80€. </p>
      <img src="/media/ImagesDiv/1.png" alt="" />
    </div>
  </div>

  


</div>



  <div class="modal-overlay" id="modal">
  <div class="modal-content">
    <img id="modal-image" src="" alt="" />
    <div class="modal-text" id="modal-text"></div>
    <button id="close-modal">&times;</button>
  </div>
  
</div>

<button id="help-button" aria-label="Mostrar ayuda">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <circle class="help-bg" cx="12" cy="12" r="10"/>
    <path class="help-path" d="M9.09 9a3 3 0 1 1 5.83 1c0 2-3 2-3 4"/>
    <line class="help-dot" x1="12" y1="17" x2="12" y2="17"/>
  </svg>
</button>



  <script src="/scripts/introVideo.js" type="module" is:inline></script>
  <script src="/scripts/tooglecard.js" type="module" is:inline></script>

</Layout>

