---
import '../styles/global.css'
import '../styles/aboutImage.css'
import Header from '../components/Header.astro';

---

<Header/>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <img src="https://cdn.discordapp.com/avatars/518828219324170279/38d9ea82220f3ddace0de9c8fbb44ef9.png?size=512" alt="Mi avatar de Discord" width="100" height="100" class="fade-in-image" />
      <h1 class="fade-in-title">Hi!</h1>
      <p class="fade-in-text">I'm Tekhion. Currently studying physics and trying to learn how to programm stuff while trying to make my page work.</p>
      <p class="fade-in-text">Remember to check my current projects!</p>
        <h2 class="fade-in-contact">Want to contact me?</h2>
        <p class="fade-in-contact">Email: TekhionPR@proton.me</p>
        <p class="fade-in-contact">Discord: tekhionn</p>
    </div>

    



  </body>


  <script type="module" src="/scripts/imagediscord.js" is:inline></script>
</html>
