---
import Header from "../components/Header.astro"
import '../styles/global.css'
const { pageTitle = 'Tekhion Blog' } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="ce5a60eb-477b-4654-8d3f-6d0f29033ff8"></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>